body{

    text-align: center;
    background-image: url(./img/background_image.jpg);

}

.container{

    border: 2px solid red;
    color: white;

    margin: 20px;

}

.inner_container{

    border: 2px solid red;
    width: 50%;
    margin: auto;
    background-color: black;
    
    padding: 3rem;

}

.forms{

    text-align: left;
}

.inner_forms{
    padding: 1rem;
    
}

#content_type{

    width: 20%;
}

#comments{
    resize: none;
    color:black;
    
}