body{

    text-align: center;
    background-image: url(./img/background_image.jpg);
    /* font-weight: bolder; */

}

.container{

    /* border: 2px solid red; */
    color: white;
    margin: 20px;
    background-color:rgba(0, 0, 0, 0.308);

}

#head1{

    
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}

#flix{

    color:red;
}
#p1{
    
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
}

.inner_container{

    /* border: 2px solid red; */
    width: 25%;
    margin: auto;
    background-color: black;
    padding: 2rem;

}

.forms{

    text-align: left;
}

.inner_forms{
    padding: 1rem;
    
}

#content_type{

    width: 20%;
}

#comments{
    resize: none;
    color:black;
    
}

.kutu{
    width: 90%;
    margin: auto;
    padding: 0.5rem;
}

#submit{

    
    padding: 1rem;
    background-color: red;
    border-radius: 50px;
    color: white;
    width: 50%;
    /* border-style: none; */
    
}

#p-submit{
    text-align: center;
}